################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
**/bin/
**/obj/
[Bb]in/
[Oo]bj/
*.suo
*.user
_ReSharper.*
bin
obj
packages

/ExtractorRTD/publish
/B3WM/B3WM/Data/
