@using B3WM.Shared.Entity
@using Microsoft.AspNetCore.SignalR.Client
@using System.Threading.Channels
@using System.Diagnostics
@inject NavigationManager Navigation
@implements IAsyncDisposable

@code {
    [Parameter, EditorRequired]
    public required HubClientWorker Worker { get; set; }

    [Parameter]
    public bool EnableTimesAndTrades { get; set; }

    [Parameter]
    public int _counter { get; set; } = 0;

    [Parameter]
    public EventCallback<int> _counterChanged { get; set; }

    public HubConnection? hubConnection;

    private DateTime? _lastUpdateBarReceived { get; set; }

    protected override async Task OnInitializedAsync()
    {

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/api/datahub"))
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<byte[]>(nameof(IDataHubClient.ReceiveTnT), OnReceiveTNT);
        //hubConnection.On<byte[]>(nameof(IDataHubClient.ReceiveBook), OnReceiveBook);
        //hubConnection.On<byte[]>(nameof(IDataHubClient.ReceiveTnTSimple), OnReceiveTNTSimple);

        await hubConnection.StartAsync();

        await base.OnInitializedAsync();

    }


    private void OnReceiveTNT(byte[] data)
    {
        if (data == null || data.Length == 0) return;

        if (!EnableTimesAndTrades) return;
        var swTotal = Stopwatch.StartNew();

        //debug de velocidade e confirmação de dados
        _counter++;

        _counterChanged.InvokeAsync(_counter);

        if (Worker.MainService != null)
        {
            string json = System.Text.Json.JsonSerializer.Serialize(data, new System.Text.Json.JsonSerializerOptions
            {
                PropertyNamingPolicy = System.Text.Json.JsonNamingPolicy.CamelCase,
                WriteIndented = false,
                IncludeFields = true,
            });

            _ = Worker.MainService.RunAsync(s => s.Enqueue(json));
        }

        _lastUpdateBarReceived = DateTime.Now;

        swTotal.Stop();

        HelperPerformanceConfig.Log(nameof(HubClient), "OnReceiveTNT|Enqueue", swTotal.ElapsedMilliseconds, $"tick at {DateTime.Now:HH:mm:ss.fff}");
    }

    // private async void OnReceiveBook(byte[] data)
    // {
    //     //if (!EnableBook) return;

    //     //debug de velocidade e confirmação de dados
    //     //_counter++;

    //     //if (OnBookChange.HasDelegate) await OnBookChange.InvokeAsync(new DataHelper(data).Book());

    // }

    // private void OnReceiveTNTSimple(byte[] data)
    // {
    //     //if (!EnableTimesAndTradesSimple) return;

    //     //debug de velocidade e confirmação de dados
    //     //_counter++;

    // }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
<div style="margin-right: 65px">
    <MudTooltip Text="@($"Last Received (Local time): {_lastUpdateBarReceived?.ToString("HH:mm:ss")}")" Placement="Placement.Left">
        <MudBadge Color="Color.Info" Overlap=true Bordered=true Content="@($"{_lastUpdateBarReceived?.ToString("HH: mm: ss")} ↓ ")">
            <MudIcon Icon="@Icons.Material.Filled.CandlestickChart" Size="Size.Small" />
        </MudBadge>
    </MudTooltip>
</div>