@using B3WM.Shared.Entity
@using Vizor.ECharts;

@page "/"

<MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" OnClick="@(() => ShowMessage("Hello, World!"))">
    Click Me
</MudButton>

@foreach(var item in ticks)
{
    <p>@item.TrydID</p>
}

@code {

    ICollection<Ticks2> ticks = new List<Ticks2>();

    public void ShowMessage(string message)
    {
        // Display the message in a dialog or console
        Console.WriteLine(message);


        string allCompactData = @"NEGS!WINJ26|6256987@6256988@6256989@6256990@6256991@6256992@6256993@6256994@6256995@6256996@6256997@6256998@6256999@6257000@6257001@6257002@6257003@6257004@6257005@6257006@6257007@6257008@6257009@6257010@6257011@6257012@6257013@6257014@6257015@6257016@6257017@6257018@6257019@6257020@6257021@6257022@6257023@6257024@6257025@6257026@6257027@6257028@6257029@6257030@6257031@6257032@6257033@6257034@6257035@6257036@6257037@6257038@6257039@6257040@6257041@6257042@6257043@6257044@6257045@6257046@6257047@6257048@6257049@6257050@6257051|15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:08@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09|183.290@183.290@183.285@183.285@183.285@183.290@183.290@183.290@183.290@183.295@183.290@183.290@183.290@183.290@183.290@183.290@183.290@183.290@183.290@183.295@183.295@183.290@183.290@183.290@183.295@183.290@183.290@183.285@183.285@183.290@183.285@183.290@183.290@183.290@183.290@183.285@183.290@183.290@183.290@183.290@183.295@183.295@183.290@183.290@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.290@183.290@183.295@183.290@183.290@183.290@183.290@183.290@183.285@183.290@183.295@183.295|3@1@1@1@4@1@1@5@1@1@2@1@5@1@2@3@1@1@1@6@1@2@1@1@1@3@1@1@1@1@3@1@2@1@1@1@1@1@1@1@10@1@1@6@6@8@1@7@1@1@1@1@1@5@2@1@1@7@1@1@10@1@2@15@1|039@085@085@039@1618@120@120@120@120@039@120@039@039@085@039@039@003@008@4090@120@003@085@003@008@003@1618@085@085@4090@003@120@1618@003@003@085@1618@120@085@120@120@003@4090@120@120@003@003@003@003@003@003@003@092@4090@003@003@003@4090@120@085@003@003@1618@088@003@003|003@003@003@003@003@003@085@1618@1618@1618@003@003@003@003@003@003@003@003@4090@120@003@085@003@003@003@147@1618@085@4090@003@120@085@003@003@003@003@003@085@1618@1618@003@1618@120@120@003@1618@085@1618@039@003@039@092@003@003@003@003@4090@003@003@003@003@003@088@003@003|Vendedor@Vendedor@Vendedor@Vendedor@Vendedor@Comprador@Vendedor@Vendedor@Vendedor@Comprador@Vendedor@Vendedor@Vendedor@Vendedor@Vendedor@Vendedor@Vendedor@Vendedor@Cross@Cross@Cross@Cross@Cross@Vendedor@Cross@Vendedor@Vendedor@Cross@Cross@Cross@Cross@Comprador@Cross@Vendedor@Vendedor@Vendedor@Comprador@Cross@Vendedor@Vendedor@Cross@Comprador@Cross@Cross@Cross@Comprador@Comprador@Comprador@Comprador@Comprador@Comprador@Cross@Comprador@Cross@Cross@Cross@Cross@Vendedor@Vendedor@Vendedor@Cross@Vendedor@Cross@Cross@CrossNEGS!WINJ26|6257052@6257053@6257054@6257055@6257056@6257057@6257058@6257059@6257060@6257061@6257062@6257063@6257064@6257065@6257066@6257067@6257068@6257069@6257070@6257071@6257072@6257073@6257074@6257075@6257076@6257077@6257078@6257079@6257080@6257081@6257082@6257083@6257084@6257085@6257086@6257087@6257088@6257089@6257090@6257091@6257092@6257093@6257094@6257095@6257096@6257097@6257098|15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09|183.295@183.290@183.290@183.290@183.295@183.295@183.295@183.290@183.295@183.290@183.290@183.290@183.295@183.295@183.290@183.290@183.290@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.295@183.300@183.300@183.295@183.295@183.295@183.295@183.295@183.295@183.290@183.290@183.290@183.295@183.295|1@5@1@3@3@2@1@1@5@1@10@5@1@1@1@1@5@1@1@1@4@4@1@1@1@16@1@1@7@1@2@11@1@5@1@1@4@1@1@1@3@1@15@4@1@1@1|003@4090@4090@003@003@003@003@085@114@092@085@120@003@003@003@120@003@003@003@4090@003@003@003@003@003@003@003@003@003@003@003@003@1618@003@003@003@1618@085@1618@039@1618@003@085@1618@085@003@120|085@4090@4090@003@003@1618@1618@4090@114@092@085@120@085@1618@003@120@003@003@003@1618@003@1618@039@039@085@008@003@039@1618@085@039@1618@085@003@003@003@1618@1618@1618@1618@1618@003@085@085@085@003@120|Comprador@Cross@Cross@Cross@Cross@Comprador@Comprador@Vendedor@Cross@Cross@Cross@Cross@Comprador@Comprador@Cross@Cross@Cross@Cross@Cross@Comprador@Cross@Comprador@Comprador@Comprador@Comprador@Comprador@Comprador@Comprador@Comprador@Comprador@Comprador@Comprador@Comprador@Cross@Cross@Cross@Vendedor@Vendedor@Vendedor@Vendedor@Vendedor@Cross@Cross@Vendedor@Vendedor@Cross@CrossNEGS!WINJ26|6257099@6257100@6257101@6257102@6257103@6257104@6257105@6257106@6257107@6257108@6257109@6257110@6257111@6257112@6257113@6257114@6257115@6257116@6257117@6257118@6257119@6257120@6257121@6257122@6257123@6257124@6257125@6257126@6257127@6257128@6257129@6257130@6257131@6257132@6257133@6257134|15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09@15:02:09|183.290@183.295@183.295@183.295@183.295@183.290@183.295@183.290@183.290@183.290@183.290@183.290@183.290@183.290@183.295@183.295@183.290@183.290@183.290@183.295@183.290@183.295@183.290@183.295@183.290@183.290@183.290@183.290@183.290@183.290@183.290@183.285@183.285@183.285@183.285@183.290|1@1@1@1@2@4@1@1@5@3@1@1@1@2@1@1@1@2@1@2@1@5@2@5@4@1@1@2@1@1@5@5@3@1@16@1|4090@003@003@003@003@4090@120@003@003@4090@085@085@1618@003@003@003@4090@4090@085@114@4090@120@003@088@120@085@120@120@4090@4090@4090@003@003@1618@008@4090|4090@003@085@039@1618@4090@1618@003@003@4090@114@039@085@003@003@003@4090@4090@092@114@4090@120@003@088@1618@1618@1618@1618@085@039@1618@003@003@003@003@4090|Cross@Cross@Comprador@Comprador@Comprador@Cross@Comprador@Cross@Cross@Cross@Vendedor@Vendedor@Comprador@Cross@Cross@Cross@Cross@Cross@Vendedor@Cross@Cross@Cross@Cross@Cross@Vendedor@Vendedor@Vendedor@Vendedor@Comprador@Comprador@Comprador@Cross@Cross@Vendedor@Vendedor@Cross";

        HelperPerformanceConfig.Log("Log", "", 0, $"{allCompactData}");


        ticks = new DataHelper(allCompactData).TimesAndTrades();

        // foreach (var item in new DataHelper(allCompactData).TimesAndTrades())
        // {
        //     HelperPerformanceConfig.Log("Log: DataHelper", "", 0, $"{item}");
        // }


    }
    

}
