@using B3WM.Shared.Entity
@using Vizor.ECharts;
@inject IMagicIndexedDb _MagicDb

@page "/"

@* <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" OnClick="@(() => ShowMessage("Hello, World!"))">
    Click Me
</MudButton> *@

@* @foreach(var item in ticks)
{
    <p>@item.TrydID</p>
} *@

@code {

    // protected override async Task OnInitializedAsync()
    // {
    //     IMagicQuery<Person> personQuery = await _MagicDb.Query<Person>();

    //     await base.OnInitializedAsync();
    // }

    // ICollection<Ticks2> ticks = new List<Ticks2>();

    // public void ShowMessage(string message)
    // {
    //     // Display the message in a dialog or console
    //     Console.WriteLine(message);
    // }
}
