@using B3WM.Shared.Entity
@using Vizor.ECharts;

@page "/"

<MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" OnClick="@(() => ShowMessage("Hello, World!"))">
    Click Me
</MudButton>

@foreach(var item in ticks)
{
    <p>@item.TrydID</p>
}

@code {
    ICollection<Ticks2> ticks = new List<Ticks2>();

    public void ShowMessage(string message)
    {
        // Display the message in a dialog or console
        Console.WriteLine(message);
    }
}
